<div class="navbar bg-base-100 shadow-lg">

  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/dashboard">StellarApex</a>
  </div>

  <div class="flex-none items-center gap-4">

    <label class="swap swap-rotate" for="theme-toggle">
      <span class="sr-only">{{ 'NAVBAR.TOGGLE_THEME' | translate }}</span>
      <input
        (change)="themeService.toggleTheme()"
        [checked]="themeService.currentTheme() === 'dark'"
        id="theme-toggle"
        type="checkbox"
      />
      <ng-icon name="heroMoon"
               class="swap-off"
               color="var(--color-accent)"
               size="1.75em">
      </ng-icon>
      <ng-icon name="heroSun"
               class="swap-on"
               color="var(--color-accent)"
               size="1.75em">
      </ng-icon>
    </label>


    <div class="dropdown dropdown-end">
      <button tabindex="0" class="btn btn-ghost">
        {{ 'NAVBAR.CATALOG' | translate }}
        <ng-icon name="heroChevronDown"></ng-icon>
      </button>
      <ul class="dropdown-content z-1 menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a routerLink="/muscles"
               (click)="closeDropdown()">{{ 'NAVBAR.MUSCLES' | translate }}</a></li>
      </ul>
    </div>

    <div class="dropdown dropdown-end">
      <button class="btn btn-ghost" tabindex="0">
        {{ authService.currentUser()?.firstName }} {{ authService.currentUser()?.lastName }}
        <ng-icon name="heroChevronDown"></ng-icon>
      </button>
      <ul class="dropdown-content z-1 menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a routerLink="/my-account"
               (click)="closeDropdown()">{{ 'NAVBAR.MY_ACCOUNT' | translate }}</a></li>
        <li><a (click)="logout()">{{ 'NAVBAR.LOG_OUT' | translate }}</a></li>
      </ul>
    </div>
  </div>
</div>
