<div class="navbar bg-base-100 shadow-lg">

  <div class="navbar-start w-auto md:hidden">
    <div class="dropdown">

      <button class="btn btn-ghost btn-circle" aria-label="Ouvrir le menu">
        <ng-icon name="heroBars3" size="1.5em"></ng-icon>
      </button>

      <ul class="menu menu-sm dropdown-content mt-3 z-1 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">
            <ng-icon name="hugeDashboardSpeed01" size="1.2em"></ng-icon>
            {{ 'NAVBAR.DASHBOARD' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/wods" routerLinkActive="active">
            <ng-icon name="hugeKettlebell" size="1.2em"></ng-icon>
            WOD
          </a>
        </li>
        <li>
          <a routerLink="/movements" routerLinkActive="active">
            <ng-icon name="hugeWorkoutStretching" size="1.2em"></ng-icon>
            {{ 'NAVBAR.MOVEMENTS' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/muscles" routerLinkActive="active">
            <ng-icon name="hugeBodyPartMuscle" size="1.2em"></ng-icon>
            {{ 'NAVBAR.MUSCLES' | translate }}
          </a>
        </li>
      </ul>

    </div>
  </div>
  
  <div class="navbar-start w-auto flex-1 md:flex-none ml-2 md:ml-0">
    <div class="btn btn-ghost text-xl hover:bg-transparent cursor-default">StellarApex</div>
  </div>

  <div class="navbar-center hidden md:flex flex-1 ml-4">
    <ul class="menu menu-horizontal px-1 gap-2">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <ng-icon name="hugeDashboardSpeed01" size="1.2em"></ng-icon>
          {{ 'NAVBAR.DASHBOARD' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/wods" routerLinkActive="active">
          <ng-icon name="hugeKettlebell" size="1.2em"></ng-icon>
          WOD
        </a>
      </li>
      <li>
        <a routerLink="/movements" routerLinkActive="active">
          <ng-icon name="hugeWorkoutStretching" size="1.2em"></ng-icon>
          {{ 'NAVBAR.MOVEMENTS' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/muscles" routerLinkActive="active">
          <ng-icon name="hugeBodyPartMuscle" size="1.2em"></ng-icon>
          {{ 'NAVBAR.MUSCLES' | translate }}
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-end w-auto gap-1 pr-2">

    <label class="btn btn-ghost btn-circle swap swap-rotate" for="theme-toggle"
           [title]="'NAVBAR.TOGGLE_THEME' | translate">
      <span class="sr-only">{{ 'NAVBAR.TOGGLE_THEME' | translate }}</span>
      <input
        (change)="themeService.toggleTheme()"
        [checked]="themeService.currentTheme() === 'dark'"
        id="theme-toggle"
        type="checkbox"
      />
      <ng-icon name="heroMoon" class="swap-off" color="var(--color-accent)" size="1.5em"></ng-icon>
      <ng-icon name="heroSun" class="swap-on" color="var(--color-accent)" size="1.5em"></ng-icon>
    </label>

    <a class="btn btn-ghost btn-circle" routerLink="/my-account" [title]="'NAVBAR.MY_ACCOUNT' | translate">
      <ng-icon name="heroUser" size="1.5em"></ng-icon>
    </a>

    <a class="btn btn-ghost btn-circle text-error hover:bg-error/10 hover:text-error" (click)="logout()"
       [title]="'NAVBAR.LOG_OUT' | translate">
      <ng-icon name="heroArrowRightOnRectangle" size="1.5em"></ng-icon>
    </a>

  </div>
</div>
