# This file defines all dynamic routing logic (routers & middlewares).
http:
  # ===================================================================
  #  MIDDLEWARES
  # ===================================================================
  middlewares:
    # --- Security Middlewares ---
    forward-auth-admin:
      # Forward authentication middleware for admin.
      forwardAuth:
        address: "http://antares-auth:8080/antares/auth/verify/admin"
        trustForwardHeader: true
        authResponseHeaders:
          - "X-Auth-User-Login"
          - "X-Auth-User-Name"
          - "X-Auth-User-Email"
          - "X-Auth-User-Role"

    forward-auth-api:
      # Forward authentication middleware for api.
      forwardAuth:
        address: "http://antares-auth:8080/antares/auth/verify/api"
        trustForwardHeader: true
        authResponseHeaders:
          - "X-Auth-User-Id"
          - "X-Auth-User-Role"
          - "X-Auth-User-Locale"
          - "X-Auth-Gym-Id"
          - "X-Auth-User-Permissions"

    secure-headers:
      # Applies recommended HTTP security headers.
      headers:
        frameDeny: true                 # Set X-Frame-Options to DENY.
        browserXssFilter: true          # Enable XSS filtering.
        contentTypeNosniff: true        # Prevent MIME-type sniffing.
        stsIncludeSubdomains: true      # HSTS: Include subdomains.
        stsPreload: true                # HSTS: Allow preloading.
        stsSeconds: 31536000            # HSTS: One-year cache.

    # --- Rate Limit Middlewares ---
    rate-limit-admin:
      # Rate limiting for administrative endpoints.
      rateLimit:
        average: 200                             # 200 requests/minute average.
        period: "1m"                             # Time window for rate calculation.
        burst: 100                               # Allow bursts of up to 100 requests.

    rate-limit-api:
      # Rate limiting for public API endpoints.
      rateLimit:
        average: 100                            # 100 requests/minute average.
        period: "1m"                            # Time window for rate calculation.
        burst: 50                               # Allow bursts of up to 50 requests.

  # ===================================================================
  #  ROUTERS
  # ===================================================================
  routers:
    # --- 1. Sirius-App Router ---
    sirius-app-router:
      rule: "Host(`stellar.apex`)"              # Match 'stellar.apex'.
      entryPoints: [ "websecure" ]              # Use the 'websecure' (HTTPS) entrypoint.
      tls: true                                 # Enable TLS (HTTPS).
      priority: 5                               # Low priority to act as a catch-all for this domain.
      service: "sirius-app-service"             # Route to the frontend service.
      middlewares: [ "secure-headers" ]         # Apply security headers.

    # --- 2. Antares-Auth Sirius Router ---
    antares-auth-router:
      rule: "Host(`stellar.apex`) && PathPrefix(`/antares`)" # Match 'stellar.apex/antares...'.
      entryPoints: [ "websecure" ]              # Use the 'websecure' (HTTPS) entrypoint.
      tls: true                                 # Enable TLS (HTTPS).
      priority: 10                              # Higher priority to override the main app router.
      service: "antares-auth-service"           # Route to the 'antares-auth' service.
      middlewares:
        - "rate-limit-api"                      # Secure with rate limiting.
        - "secure-headers"                      # Apply security headers.

    # --- 3. Aldebaran-Training Sirius Router ---
    aldebaran-training-router:
      rule: "Host(`stellar.apex`) && PathPrefix(`/aldebaran`)"  # Match 'stellar.apex/aldebaran...'.
      entryPoints: [ "websecure" ]              # Use the 'websecure' (HTTPS) entrypoint.
      tls: true                                 # Enable TLS (HTTPS).
      priority: 10                              # Higher priority to override the main app router.
      service: "aldebaran-training-service"     # Route to the 'aldebaran-training' service.
      middlewares:
        - "rate-limit-api"                      # Secure with rate limiting.
        - "secure-headers"                      # Apply security headers.
        - "forward-auth-api"                    # Secure with Api Forward Auth.

    # --- 4. Bellatrix-Swagger Router ---
    bellatrix-swagger-router:
      rule: "Host(`docs.stellar.apex`)"         # Match 'docs.stellar.apex'.
      entryPoints: [ "websecure" ]              # Use the 'websecure' (HTTPS) entrypoint.
      tls: true                                 # Enable TLS (HTTPS).
      priority: 15                              # Higher priority to override the main app router.
      service: "bellatrix-swagger-service"      # Route to the 'bellatrix-swagger' service.
      middlewares:
        - "rate-limit-admin"                    # Secure with rate limiting.
        - "secure-headers"                      # Apply security headers.
        - "forward-auth-admin"                  # Secure with Admin Forward Auth.


    # --- 5. Vega-Grafana Router (Monitoring) ---
    vega-grafana-router:
      rule: "Host(`monitor.stellar.apex`)"      # Match 'monitor.stellar.apex'.
      entryPoints: [ "websecure" ]              # Use the 'websecure' (HTTPS) entrypoint.
      tls: true                                 # Enable TLS (HTTPS).
      service: "vega-grafana-service"           # Route to the 'vega-grafana' service
      middlewares:
        - "rate-limit-admin"                    # Secure with rate limiting.
        - "secure-headers"                      # Apply security headers.
        - "forward-auth-admin"                  # Secure with Admin Forward Auth.

    # --- 6. Altair-Proxy Router ---
    altair-proxy-router:
      rule: "Host(`proxy.stellar.apex`)"        # Match 'proxy.stellar.apex'.
      entryPoints: [ "websecure" ]              # Use the 'websecure' (HTTPS) entrypoint.
      tls: true                                 # Enable TLS (HTTPS).
      service: "api@internal"                   # Route to Traefik's internal API/dashboard service.
      middlewares:
        - "rate-limit-admin"                    # Secure with rate limiting.
        - "forward-auth-admin"                  # Secure with Admin Forward Auth.

  # ===================================================================
  #  SERVICES
  # ===================================================================
  services:
    # --- 1. Sirius-App Service ---
    sirius-app-service:
      loadBalancer:
        servers:
          - url: "http://sirius-app:80"

    # --- 2. Antares-Auth Service ---
    antares-auth-service:
      loadBalancer:
        servers:
          - url: "http://antares-auth:8080"

    # --- 3. Aldebaran-Training Service ---
    aldebaran-training-service:
      loadBalancer:
        servers:
          - url: "http://aldebaran-training:8081"

    # --- 4. Bellatrix-Swagger Service ---
    bellatrix-swagger-service:
      loadBalancer:
        servers:
          - url: "http://bellatrix-swagger:8888"

    # --- 5. Vega-Grafana Service ---
    vega-grafana-service:
      loadBalancer:
        servers:
          - url: "http://vega-grafana:3000"