version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/antares-api"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      # Group all org.apache.commons dependencies together
      apache-commons:
        patterns:
          - "org.apache.commons:*"
      # Group Spring Boot dependencies
      spring-boot:
        patterns:
          - "org.springframework.boot:*"

  - package-ecosystem: "npm"
    directory: "/antares-app"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      # Group Angular, Angular CLI, and TypeScript updates together
      angular-dependencies:
        patterns:
          - "@angular/*"
          - "@angular-devkit/*"
          - "typescript"

  - package-ecosystem: "docker"
    directory: "/antares-api" # Path to the backend Dockerfile
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 3

  - package-ecosystem: "docker"
    directory: "/antares-app" # Path to the frontend Dockerfile
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 3

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      # Group all GitHub Actions updates into a single PR
      github-actions:
        patterns:
          - "*"