<div class="hero-content flex-col lg:flex-row-reverse">

  <div class="text-center lg:text-left lg:pl-10">
    <h1 class="text-5xl font-bold">{{ 'REGISTER.TITLE' | translate }}</h1>
    <p class="py-6">{{ 'REGISTER.SUBTITLE' | translate }}</p>
  </div>

  <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="card-body">

      <label class="input validator w-full">
        <ng-icon name="heroUser" class="opacity-50"></ng-icon>
        <input [placeholder]="'REGISTER.FIRST_NAME_PLACEHOLDER' | translate"
               formControlName="firstName"
               maxlength="50" required type="text"/>
      </label>

      <label class="input validator w-full mt-4">
        <ng-icon name="heroUser" class="opacity-50"></ng-icon>
        <input [placeholder]="'REGISTER.LAST_NAME_PLACEHOLDER' | translate"
               formControlName="lastName"
               maxlength="50" required type="text"/>
      </label>

      <label class="input validator w-full mt-4">
        <ng-icon name="heroEnvelope" class="opacity-50"></ng-icon>
        <input formControlName="email" placeholder="email@example.com" required type="email"/>
      </label>
      <div class="validator-hint hidden">Enter valid email address</div>

      <label class="input validator w-full mt-4">
        <ng-icon name="heroKey" class="opacity-50"></ng-icon>
        <input
          formControlName="password"
          minlength="8"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          placeholder="Password"
          required
          title="Must be more than 8 characters, including number, lowercase letter, uppercase letter"
          type="password"
        />
      </label>
      <p class="validator-hint hidden text-xs">
        Must be more than 8 characters, including <br/>
        At least one number, one lowercase, one uppercase letter
      </p>

      <label class="input validator w-full mt-4">
        <ng-icon name="heroKey" class="opacity-50"></ng-icon>
        <input
          [placeholder]="'REGISTER.CONFIRM_PASSWORD' | translate"
          formControlName="confirmationPassword"
          required
          type="password"
        />
      </label>

      @if (registerForm.errors?.['passwordsMismatch'] && registerForm.get(
        'confirmationPassword')?.touched) {
        <p class="validator-hint text-error text-xs mt-1">
          {{ 'REGISTER.PASSWORDS_MISMATCH' | translate }}
        </p>
      }

      <div class="form-control mt-6">
        <button [disabled]="registerForm.invalid" class="btn btn-primary"
                type="submit">{{ 'REGISTER.SIGN_UP' | translate }}
        </button>
      </div>

      <label class="label">
        <a class="label-text-alt link link-hover"
           routerLink="/auth/login">{{ 'REGISTER.HAVE_ACCOUNT' | translate }}</a>
      </label>
    </form>
  </div>
</div>
