<div class="hero-content flex-col lg:flex-row-reverse">
  <div class="text-center lg:text-left lg:pl-10">
    <h1 class="text-5xl font-bold">{{ 'REGISTER.TITLE' | translate }}</h1>
    <p class="py-6">{{ 'REGISTER.SUBTITLE' | translate }}</p>
  </div>

  <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="card-body">

      <div class="input validator w-full">
        <ng-icon name="heroUser" class="opacity-50"></ng-icon>
        <input [placeholder]="'GLOBAL.FIRST_NAME_PH' | translate"
               formControlName="firstName" maxlength="50" required type="text"/>
      </div>

      <div class="input validator w-full mt-4">
        <ng-icon name="heroUser" class="opacity-50"></ng-icon>
        <input [placeholder]="'GLOBAL.LAST_NAME_PH' | translate"
               formControlName="lastName" maxlength="50" required type="text"/>
      </div>

      <div class="input validator w-full mt-4">
        <ng-icon name="heroEnvelope" class="opacity-50"></ng-icon>
        <input formControlName="email"
               [placeholder]="'GLOBAL.EMAIL' | translate"
               required type="email"/>
      </div>
      <div class="validator-hint hidden">{{ 'GLOBAL.ERROR_EMAIL' | translate }}</div>

      <div class="input validator w-full mt-4">
        <ng-icon name="heroKey" class="opacity-50"></ng-icon>
        <input formControlName="password" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
               [placeholder]="'GLOBAL.PASSWORD' | translate"
               required type="password"/>
      </div>
      <p class="validator-hint hidden text-xs">{{ 'GLOBAL.ERROR_PASSWORD_RULES' | translate }}</p>

      <div class="input validator w-full mt-4">
        <ng-icon name="heroKey" class="opacity-50"></ng-icon>
        <input [placeholder]="'GLOBAL.CONFIRM_PASSWORD' | translate"
               formControlName="confirmationPassword" required type="password"/>
      </div>
      @if (registerForm.errors?.['passwordsMismatch'] && registerForm.get('confirmationPassword')?.touched) {
        <p class="validator-hint text-error text-xs mt-1">{{ 'GLOBAL.PASSWORDS_MISMATCH' | translate }}</p>
      }

      <div class="form-control mt-6">
        <button [disabled]="registerForm.invalid" class="btn btn-primary"
                type="submit">{{ 'REGISTER.SIGN_UP' | translate }}
        </button>
      </div>

      <div class="label">
        <a class="label-text-alt link link-hover" routerLink="/auth/login">{{ 'REGISTER.HAVE_ACCOUNT' | translate }}</a>
      </div>
    </form>
  </div>
</div>
