<div class="hero-content flex-col lg:flex-row-reverse">
  <div class="text-center lg:text-left lg:pl-10">
    <h1 class="text-5xl font-bold">{{ 'LOGIN.TITLE' | translate }}</h1>
    <p class="py-6">{{ 'LOGIN.SUBTITLE' | translate }}</p>
  </div>

  <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="card-body">

      <div class="input validator w-full">
        <ng-icon name="heroEnvelope" class="opacity-50"></ng-icon>
        <input formControlName="email"
               [placeholder]="'GLOBAL.EMAIL' | translate"
               required type="email"/>
      </div>
      <div class="validator-hint hidden">{{ 'GLOBAL.ERROR_EMAIL' | translate }}</div>

      <div class="input validator w-full mt-4">
        <ng-icon name="heroKey" class="opacity-50"></ng-icon>
        <input formControlName="password"
               [placeholder]="'GLOBAL.PASSWORD' | translate"
               required type="password"/>
      </div>

      <div class="form-control mt-6">
        <button [disabled]="loginForm.invalid" class="btn btn-primary" type="submit">{{ 'LOGIN.SIGN_IN' | translate }}
        </button>
      </div>

      <div class="label">
        <a class="label-text-alt link link-hover" routerLink="/auth/register">{{ 'LOGIN.NO_ACCOUNT' | translate }}</a>
      </div>
    </form>
  </div>
</div>
