<dialog #muscleModal class="modal modal-bottom sm:modal-middle" (close)="onClose()">
  <div class="modal-box relative">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>

    @if (dialogService.muscleToView(); as muscle) {
      <h3 class="font-bold text-2xl mb-2">{{ getLocalizedName(muscle) }}</h3>
      <div class="badge badge-primary mb-4">
        {{ 'MUSCLE.GROUPS.' + muscle.muscleGroup | translate }}
      </div>

      @if (muscle.imageUrl) {
        <img [src]="muscle.imageUrl" alt="Muscle Image"
             class="w-full object-cover max-h-48 rounded-lg shadow-sm mb-6 border border-base-content/10"/>
      } @else {
        <div
          class="w-full h-48 bg-base-200 rounded-lg flex items-center justify-center mb-6 border border-dashed border-base-content/30">
          <span class="text-base-content/50 italic">{{ 'GLOBAL.NO_IMAGE' | translate }}</span>
        </div>
      }

      <div class="space-y-4">
        <div>
          <span class="font-semibold text-sm opacity-70">{{ 'MUSCLE.LIST.MODAL.MEDICAL_NAME' | translate }}</span>
          <p class="text-lg">{{ muscle.medicalName }}</p>
        </div>

        <div>
          <span class="font-semibold text-sm opacity-70">{{ 'GLOBAL.DESCRIPTION' | translate }}</span>
          <p [class.italic]="!getLocalizedDescription(muscle)" [class.opacity-80]="!getLocalizedDescription(muscle)">
            {{ getLocalizedDescription(muscle) || ('GLOBAL.NO_DESCRIPTION' | translate) }}
          </p>
        </div>
      </div>

      <div class="modal-action mt-6 border-t border-base-200 pt-4">
        <form method="dialog">
          <button class="btn">{{ 'GLOBAL.CLOSE' | translate }}</button>
        </form>
        @if (isAdmin()) {
          <a [routerLink]="['/muscles/edit', muscle.id]" (click)="onClose()" class="btn btn-secondary">
            {{ 'GLOBAL.EDIT' | translate }}
          </a>
        }
      </div>
    }
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
