<div class="card bg-base-100">
  <div class="card-body">
    <div class="flex justify-between items-center mb-4">
      <h2 class="card-title flex gap-2">
        <ng-icon name="heroUser" class="text-2xl"></ng-icon>
        {{ 'PROFILE.TITLE' | translate }}
      </h2>
      @if (!isEditing) {
        <button (click)="enterEditMode()" [title]="'GLOBAL.EDIT' | translate"
                class="btn btn-ghost btn-sm btn-square">
          <ng-icon name="heroPencilSquare" class="text-2xl"></ng-icon>
        </button>
      }
    </div>

    @if (authService.currentUser(); as user) {
      @if (!isEditing) {
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="flex flex-col gap-1">
            <span class="text-xs font-bold text-base-content/50 uppercase">{{ 'GLOBAL.FIRST_NAME' | translate }}</span>
            <span class="font-medium text-lg">{{ user.firstName }}</span>
          </div>
          <div class="flex flex-col gap-1">
            <span class="text-xs font-bold text-base-content/50 uppercase">{{ 'GLOBAL.LAST_NAME' | translate }}</span>
            <span class="font-medium text-lg">{{ user.lastName }}</span>
          </div>
          <div class="flex flex-col gap-1 md:col-span-2">
            <span class="text-xs font-bold text-base-content/50 uppercase">{{ 'GLOBAL.EMAIL' | translate }}</span>
            <div class="flex items-center gap-2 text-lg">
              <span class="font-medium">{{ user.email }}</span>
              <div class="badge badge-success badge-xs badge-outline">Verified</div>
            </div>
          </div>
        </div>
      }

      @if (isEditing) {
        <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
          <fieldset class="fieldset bg-base-200/50 border-base-300 rounded-box w-full border p-4">
            <legend class="fieldset-legend">{{ 'ACCOUNT.MENU_INFO' | translate }}</legend>

            <label class="fieldset-label" for="firstName">{{ 'GLOBAL.FIRST_NAME' | translate }}</label>
            <div class="input validator w-full">
              <ng-icon name="heroUser" class="text-xl"></ng-icon>
              <input id="firstName" [placeholder]="'GLOBAL.FIRST_NAME_PH' | translate" formControlName="firstName"
                     maxlength="50"
                     required type="text"/>
            </div>
            <p class="validator-hint hidden">{{ 'GLOBAL.ERROR_MAX_50' | translate }}</p>

            <label class="fieldset-label mt-3" for="lastName">{{ 'GLOBAL.LAST_NAME' | translate }}</label>
            <div class="input validator w-full">
              <ng-icon name="heroUser" class="text-xl"></ng-icon>
              <input id="lastName" [placeholder]="'GLOBAL.LAST_NAME_PH' | translate" formControlName="lastName"
                     maxlength="50"
                     required type="text"/>
            </div>
            <p class="validator-hint hidden">{{ 'GLOBAL.ERROR_MAX_50' | translate }}</p>

            <label class="fieldset-label mt-3" for="email">{{ 'GLOBAL.EMAIL' | translate }}</label>
            <div class="input validator w-full">
              <ng-icon name="heroEnvelope" class="text-xl"></ng-icon>
              <input id="email" formControlName="email" required type="email"
                     [placeholder]="'GLOBAL.EMAIL' | translate"/>
            </div>
            <div class="validator-hint hidden">{{ 'GLOBAL.ERROR_EMAIL' | translate }}</div>

            <div class="card-actions justify-end mt-6">
              <button (click)="onCancel()" class="btn btn-ghost" type="button">{{ 'GLOBAL.CANCEL' | translate }}
              </button>
              <button [disabled]="profileForm.invalid || profileForm.pristine" class="btn btn-primary"
                      type="submit">{{ 'GLOBAL.SAVE' | translate }}
              </button>
            </div>
          </fieldset>
        </form>
      }
    }
  </div>
</div>
